@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFEFE7;
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  animation: animate 4s linear forwards;
  animation-delay: 0.1s;
}

#overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  white-space: nowrap;
  font-size: 2rem;
  color: #fa9500;
}
@media (max-width: 720px) {
  #overlay-text {
    white-space: nowrap;
    font-size: 1rem;
    color: #E86424;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}

@keyframes animate {
  0% {
    background-color: black;
  }
  50%, 100% {
    transform: scale(1.1);
  }
}
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
body {
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}
body svg path {
  stroke: currentColor;
}

.hidden {
  overflow: hidden;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 1rem;
}
nav p {
  font-size: 1.5rem;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 1rem;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #7C6A0A;
  padding-right: 45px;
  padding-left: 45px;
  padding: 4.375rem;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding-top: 3.125rem;
  gap: 1.5625rem;
}
article h1 {
  font-size: 3rem;
}
article pcd {
  padding-left: 0.3125rem;
  font-size: 1.5rem;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 1.25rem;
  background-color: #fa9500;
  border-radius: 2.1875rem;
  color: white;
  font-size: 1rem;
}
article button:hover {
  transform: scale(1.1);
  transition: all ease 400ms;
}
article img {
  width: 25vw;
  border-radius: 1.1875rem;
}

.product-section,
.info-section {
  width: auto;
  height: auto;
  padding: 60px;
}
.product-section h2,
.info-section h2 {
  color: #7C6A0A;
  font-size: 2rem;
}
.product-section .healthcare, .product-section .furniture,
.info-section .healthcare,
.info-section .furniture {
  padding-bottom: 60px;
}
.product-section .healthcare h2, .product-section .furniture h2,
.info-section .healthcare h2,
.info-section .furniture h2 {
  font-weight: 300;
  padding-bottom: 3.75rem;
}
.product-section .healthcare .card-section, .product-section .furniture .card-section,
.info-section .healthcare .card-section,
.info-section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 200px;
  width: auto;
  height: auto;
}
.product-section .healthcare .produc-card, .product-section .furniture .produc-card,
.info-section .healthcare .produc-card,
.info-section .furniture .produc-card {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  width: 18vw;
  height: 70vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 5px;
  border-radius: 8px;
}
.product-section .healthcare .produc-card .icon, .product-section .furniture .produc-card .icon,
.info-section .healthcare .produc-card .icon,
.info-section .furniture .produc-card .icon {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 12px;
}
.product-section .healthcare .produc-card .icon svg, .product-section .furniture .produc-card .icon svg,
.info-section .healthcare .produc-card .icon svg,
.info-section .furniture .produc-card .icon svg {
  width: 28px;
  height: 28px;
  color: red;
}
.product-section .healthcare .produc-card .product-image, .product-section .furniture .produc-card .product-image,
.info-section .healthcare .produc-card .product-image,
.info-section .furniture .produc-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section .healthcare .produc-card .product-image img, .product-section .furniture .produc-card .product-image img,
.info-section .healthcare .produc-card .product-image img,
.info-section .furniture .produc-card .product-image img {
  width: 12vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 6px;
}
.product-section .furniture .produc-card,
.info-section .furniture .produc-card {
  background-color: #BABD8D;
}

.abouts-us {
  padding-bottom: 2rem;
}
.abouts-us h2 {
  padding-bottom: 60px;
  font-weight: bold;
}
.abouts-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.abouts-us .mission-section .earth, .abouts-us .mission-section .innovation {
  width: 40%;
  display: flex;
  flex-direction: row;
  color: #E86424;
  gap: 40px;
}
.abouts-us .mission-section .earth p, .abouts-us .mission-section .innovation p {
  text-align: center;
  margin: auto 0;
}
.abouts-us .mission-section .earth img, .abouts-us .mission-section .innovation img {
  object-fit: fill;
}
.gallery {
  width: 40%;
  min-height: 20vh;
  outline: 10px solid #fa9500;
  margin: auto;
  max-width: 40rem;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}
.gallery h2 {
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20PX;
}
.gallery .gallery-img {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  object-fit: contain;
  padding: 0.5rem;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.gallery img {
  width: calc(33.3333333333% - 3em);
  max-height: 50vh;
  object-position: 5px 34%;
  border-radius: 16px;
  transition: all ease-in 400ms;
}
.gallery img:hover {
  transform: scale(1.1);
}
.gallery .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.gallery .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}
.gallery .punto.activo {
  background-color: #fa9500;
}

.location {
  color: #E86424;
}
.location h2 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background: black;
  align-content: start;
}

p,
h3 {
  padding: 10px;
  font-size: 1.5rem;
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
}

.eco {
  transition: all ease 400ms;
  border-radius: 10px;
  outline: 10px solid #E86424;
}
.eco:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
